<section
  class="flex h-full flex-col border-r text-muted-foreground max-md:flex-row max-md:border-t [&>a:hover]:bg-secondary-foreground/10 [&>a]:box-border [&>a]:flex [&>a]:cursor-pointer [&>a]:flex-col [&>a]:items-center [&>a]:justify-center [&>a]:gap-2 [&>a]:border-transparent [&>a]:p-4 [&>a]:text-center [&>a]:text-xs [&>a]:max-md:flex-1 [&>a]:max-md:border-b-4 [&>a]:md:aspect-square [&>a]:md:border-l-4">
  <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="!border-blue-600 bg-secondary-foreground/5  text-foreground">
    <ng-icon hlm name="lucideLink2" size="16px" />
    @if (sidebarExpanded) {
    <span>REST</span>
    }
  </a>

  <a routerLink="/graphql" routerLinkActive="!border-blue-600 bg-secondary-foreground/5 text-foreground">
    <reqquest-svg-graphql />
    @if (sidebarExpanded) {
    <span>GraphQL</span>
    }
  </a>
  <a routerLink="/realtime"
    routerLinkActive="!border-blue-600 bg-secondary-foreground/5 text-foreground [&>svg>g]:fill-white">
    <ng-icon hlm name="lucideGlobe" size="16px" />

    @if (sidebarExpanded) {
    <span>Realtime</span>
    }
  </a>
  <a routerLink="/settings" routerLinkActive="!border-blue-600 bg-secondary-foreground/5 text-foreground">
    <ng-icon hlm name="lucideSettings" size="16px" />
    @if (sidebarExpanded) {
    <span>Settings</span>
    }
  </a>
</section>
