<section
  class="flex max-w-screen-2xl mx-auto justify-between items-center p-2 [&>div]:gap-2 [&>div]:flex [&>div>*]:text-xs [&>div>button]:h-8">
  <div>
    <a hlmBtn variant="link" class="uppercase font-semibold cursor-pointer">ReqQuest</a>
  </div>
  <div>
    <button class="gap-2 w-60 min-w-10 justify-between" type="menu" hlmBtn variant="outline" size="sm">
      <div>
        <ng-icon hlm size="xs" name="lucideSearch" />
        Search
      </div>
      <div
        class="gap-1 flex [&>span]:border-muted [&>span]:border [&>span]:bg-background [&>span]:rounded-sm [&>span]:px-1">
        <span> Ctl </span>
        <span>K</span>
      </div>
    </button>
  </div>
  <div>
    <button size="sm" class="gap-2" hlmBtn>
      <ng-icon hlm size="sm" name="heroCloudArrowUp" />
      Save My Workspace</button><button hlmBtn size="sm" variant="secondary">Login</button>
  </div>
</section>
