<header class="flex w-screen overflow-x-flex-col-reverseustify-between items-center p-4 gap-4 py-1 border-b border-secondary">
  <!-- Logo Section -->
  <div class="sm:flex-1">
    <a hlmBtn routerLink="/" variant="link" class="uppercase px-0 font-semibold cursor-pointer" routerLink="/">
      ReqQuest
      <span class="sr-only">Home</span>
    </a>
  </div>

  <!-- Search Button -->
  <div class="flex-shrink-0 gap-2 flex max-sm:flex-1 justify-center">
    <button hlmBtn variant="outline" size="sm" class="gap-2 max-md:max-w-40 max-md:w-full w-60  overflow-hidden justify-between h-8" type="button"
      aria-label="Open search">
      <div class="flex items-center gap-1">
        <ng-icon hlm size="xs" name="lucideSearch" aria-hidden="true" />
        <span>Search</span>
      </div>
      <div class="flex gap-1 max-sm:hidden font-normal">
        <kbd class="border-muted border bg-background rounded-sm px-1">Ctrl</kbd>
        <kbd class="border-muted border bg-background rounded-sm px-1">K</kbd>
      </div>
    </button>
    <button hlmBtn hlmTooltipTrigger="Support ?" aria-describedby="Support ?" variant="ghost" class="p-2 max-[350px]:hidden h-8" size="sm"
      type="button" aria-label="Support">
      <ng-icon hlm size="sm" name="lucideLifeBuoy" aria-hidden="true" />
    </button>
  </div>

  <!-- User Section -->
  @if (user(); as user) {
  <div class="sm:flex-1 flex text-nowrap justify-end gap-2 items-center">
    <button hlmBtn hlmTooltipTrigger="Invite people to this workspace"
      aria-describedby="Invite people to this workspace" brnDialogTrigger size="sm" brnDialogTrigger variant="outline"
      class="gap-2 text-emerald-500 border-emerald-500 hover:bg-emerald-500/20 hover:text-emerald-500 h-8 bg-emerald-500/10 max-sm:hidden"
      aria-label="Save workspace">
      <ng-icon hlm size="sm" name="lucideUserPlus" aria-hidden="true" />
    </button>
    <button hlmBtn hlmTooltipTrigger="Change workspace" aria-describedby="Change workspace" size="sm" brnDialogTrigger
      variant="outline"
      class="gap-2 text-blue-500 border-blue-500 hover:bg-blue-500/20 hover:text-blue-500 h-8 bg-blue-500/10 max-sm:hidden"
      aria-label="Save workspace">
      <ng-icon hlm size="sm" name="heroCloudArrowUp" aria-hidden="true" />
      <span class="max-md:hidden"> Personal Workspace </span>
    </button>

    <!-- Avatar Menu -->
    <hlm-avatar [hlmTooltipTrigger]="user.user_metadata['full_name']"
      [aria-describedby]="user.user_metadata['full_name']" [brnMenuTriggerFor]="menu" variant="medium"
      class="cursor-pointer">
      <img [src]="user.user_metadata['avatar_url']" alt="User avatar" hlmAvatarImage
        (error)="handleImageError($event)" />
      <span class="bg-secondary uppercase" hlmAvatarFallback>
        {{ user.user_metadata['full_name'] | slice : 0 : 2 }}
      </span>
    </hlm-avatar>

    <ng-template #menu>
      <hlm-menu>
        <hlm-menu-label class="px-4 py-2">
          <div class="font-medium">{{ user.user_metadata['full_name'] }}</div>
          <div class="text-xs text-muted-foreground">
            {{ user.user_metadata['email'] }}
          </div>
        </hlm-menu-label>
        <hlm-menu-separator />
        <hlm-menu-group class="[&>button]:gap-2 [&>button]:cursor-pointer">
          <button hlmMenuItem role="menuitem" class="hidden"></button>
          <button hlmMenuItem role="menuitem">
            <ng-icon name="lucideUser" aria-hidden="true" />
            Profile
            <hlm-menu-shortcut>P</hlm-menu-shortcut>
          </button>
          <button hlmMenuItem role="menuitem">
            <ng-icon name="lucideSettings" aria-hidden="true" />
            Settings
            <hlm-menu-shortcut>S</hlm-menu-shortcut>
          </button>
          <button hlmMenuItem role="menuitem" (click)="this.authService.logout()">
            <ng-icon name="lucideLogOut" aria-hidden="true" />
            Logout
            <hlm-menu-shortcut>Q</hlm-menu-shortcut>
          </button>
        </hlm-menu-group>
      </hlm-menu>
    </ng-template>
  </div>
  } @else {
  <!-- Auth Actions -->
  <div class="sm:flex-1 flex justify-end">
    <hlm-dialog class="flex">
      <button hlmBtn brnDialogTrigger size="sm" brnDialogTrigger variant="outline"
        class="gap-2 text-emerald-500 border-emerald-500 mr-2 text-nowrap h-8 hover:bg-emerald-500/20 hover:text-emerald-500 bg-emerald-500/10 max-sm:hidden"
        aria-label="Save workspace">
        <ng-icon hlm size="sm" name="heroCloudArrowUp" aria-hidden="true" />
        Create Workspace
      </button>
      <button brnDialogTrigger hlmBtn size="sm" variant="secondary" class="text-nowrap h-8">
        Login
      </button>
      <reqquest-login [formTrigger]="formTrigger"></reqquest-login>
    </hlm-dialog>
  </div>
  }
</header>
