<div>
  <div class="flex flex-wrap gap-2 p-2">
    <div class="flex flex-1">
      <brn-select class="inline-block" placeholder="GET">
        <hlm-select-trigger
          class="[&>button]:!rounded-r-none [&>button]:!border-none [&>button]:!bg-muted-foreground/5">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (method of requestMethods; track method; let i = $index) {
          <hlm-option [ngClass]="methodColor(method)" (click)="selectedMethod.set(method)"
            class="!pl-4 [&>*]:hidden" [value]="method">{{ method }}</hlm-option>
          }
        </hlm-select-content>
      </brn-select>
      <input
        class="w-full min-w-20 flex-1 appearance-none rounded-l-none border-none bg-muted-foreground/5 font-semibold shadow-none outline-none [-moz-appearance:none] [-webkit-appearance:none] focus:shadow-none focus:outline-none focus:ring-0 focus:ring-offset-0 focus-visible:shadow-none focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-offset-0"
        hlmInput [value]="'https://reqquest-ten.vercel.app'" type="url" />
    </div>
    <div class="flex gap-2">
      <button hlmBtn class="bg-indigo-600 px-6 font-semibold text-foreground hover:bg-indigo-500">
        Send
      </button>
      <button hlmBtn variant="secondary" class="flex items-center gap-2 bg-muted-foreground/10 px-6 font-semibold">
        <ng-icon name="lucideSave" size="16px" />
        Save
      </button>
    </div>
  </div>
</div>
